################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Win32/obj
/Win32/bin
/Win32/Properties/PublishProfiles
